.qrt-add-button{
	padding: 5px 15px;
	margin: 0 0 5px 0;
	border: none;
	font-size: 15px;
	background-color:#22ac14;
	color:white;
}

.qrt-cell{
	width:55px;
	height:25px;
	font-size:14px;
	text-align:center;
}

.qrt-cell-plan{
	width:55px;
	height:25px;
	border:none;
	outline: none;
	font-size:14px;
	text-align:center;
}
.qrt-text {
  font-size:14px;
  font-weight: lighter;
}